@model Product
<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.ProductId)
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class="col-6">
                <h1>Edit Product</h1>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Product" asp-action="Index"><i class="bi bi-arrow-left"></i>Back</a>
            </div>
        </div>
        <hr />
        <div asp-validation-summary="All"></div>
        <div class="row">
        <div class="col-10">
        <div class="mb-3 row">
            <label class="p-0" asp-for="Title"></label>
            <input class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="ISBN"></label>
            <input class="form-control" asp-for="ISBN" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Author"></label>
            <input class="form-control" asp-for="Author" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="ListPrice"></label>
            <input class="form-control" asp-for="ListPrice" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Price50"></label>
            <input class="form-control" asp-for="Price50" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Price100"></label>
            <input class="form-control" asp-for="Price100" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="ImgUrl"></label>
            <input type="file" name="file" class="form-control" asp-for="ImgUrl" />
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="CategoryId_FK"></label>
            <select class="form-control h-100" asp-for="CategoryId_FK" asp-items="ViewBag.CategoryList">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="CategoryId_FK" class="text-danger"></span>
        </div>
        </div>
        <div class="col-2">
            <img src="@Url.Content("~/"+Model.ImgUrl)" class="w-100"/>
        </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-outline-primary" style="width:150px;justify-content:center;">Edit</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}