@model Company
<form method="post">
    @Html.HiddenFor(x=>x.Id)
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class="col-6">
                <h1>Edit Company</h1>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Company" asp-action="Index"><i class="bi bi-arrow-left"></i>Back</a>
            </div>
        </div>
        <hr />
        <div asp-validation-summary="All"></div>
        <div class="row">
        <div class="col-10">
        <div class="mb-3 row">
            <label class="p-0" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="StreetAddress"></label>
            <input class="form-control" asp-for="StreetAddress" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="City"></label>
            <input class="form-control" asp-for="City" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="State"></label>
            <input class="form-control" asp-for="State" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="PostalCode"></label>
            <input class="form-control" asp-for="PostalCode" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-outline-primary" style="width:150px;justify-content:center;">Edit</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}